body{
    font: 22px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
}

img.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 25px;
}

div.container{
    width:100%;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
}


div.container1{
    flex: 1;
}

div.container2{
    flex: 6;
    margin-top: 25px;
    margin-left:auto;
    margin-right:auto;
    background:#40826D;
    position: relative;
    border: 2px solid black;
    border-color: black;
    flex-direction: row;
    display: flex;

}



div.container3{
    flex: 1;
}

.row2column1{
    flex: 1;
}

.row2column2{
    flex: 2;
}

.row2column3{
    flex: 1;
    margin-right: 23px;
}




div.form-rowcustinfo{
    width:100%;
    margin-top:-54.6vh;
}

.column1{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.row1column2{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.column2{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.column3{
    flex: 1;
    display: flex;
    flex-direction: column;
}


.row3column3{
    flex: 2;
    display: flex;
    flex-direction: column;
}


.column3a{

}

.column4{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.form-rowfirst{
    width: 120px;
    height: 31px;
    margin-top: 5px;
    margin-left: 30px;
    padding-right: 5px;
    text-align: right;
    background: #a3c0d9;
}

.form-rowlast{
    width: 135px;
    height: 31px;
    margin-top: 5px;
    text-align: left;
    background: #a3c0d9;
}


.form-rowid{
    display:flex;
    padding-top:1.5vh;
    height: 3vh;

}

.row1{
    display: flex;
    margin-top: 21px;
    width: 1438px;
}

.form-rowcustid, .form-rowjobid, .form-rowbidid{
    padding-top: 5px;
    display: flex;

}

#label_custid, #label_jobid, #label_bidid{
    width: 92px;
    display: block;
    text-align: right;
    padding-right: 5px;
}


input#id_custid{
    width: 4.5vw;
    margin-right:6%;
    margin-top:0px;
    font-size: calc(.5vw + .65vh + .25vmin);
    padding-left:5px;
    text-align:center;
}

input#id_custid, #id_jobid, #id_bidid, #id_optionid, #id_options{
    width: 4.5vw;
    margin-right:2%;
    margin-top:0px;
    font-size: calc(.65vw + .65vh + .25vmin);
    padding-left:5px;
    text-align:center;
    -moz-appearance: textfield;
}


.input{
    display: flex;
}

.input2{
    display: flex;
    margin-left: 7px;
    flex-direction: column;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#plenumheight{

}


#id_plenumheight{
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;
    -moz-appearance: textfield;
}

#id_plenumwidth, #id_furnwidth, #id_existfurnwidth{
    width: 99px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;
    -moz-appearance: textfield;
    display: flex;
}




#id_addthermostat{
     width: 99px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;
    -moz-appearance: textfield;
    display: flex;

}

#id_plenumdepth{

}

.label_plenumheight, .label_furnwidth{
    width: 170px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: right;
}

input#plenumheight_id, input#existfurnheight_id{
    width: 51px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;
}

.label_plenumwidth, .label_plenumdepth, .label_existfurnwidth, .label_existfurndepth{
    width: 169px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: right;
}

input#plenumwidth_id, input#existfurnwidth_id{
    width: 60px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;
}

input#existfurnconfig_id{
    width: 200px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;
}


input#id_furnheight{
    width: 75px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;}
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input#furnheight_id, input#furnwidth_id, input#furndepth_id{
    width: 62px;
    margin-right:2%;
    margin-right:2%;
    margin-top:0px;
    font-size: calc(.65vw + .65vh + .25vmin);
    padding-left:5px;
    text-align:center;
    -moz-appearance: textfield;
}

input#coilheight_id, input#coilwidth_id, input#coildepth_id{
    width: 4.5vw;
    margin-top:0px;
    font-size: calc(.65vw + .65vh + .25vmin);
    padding-left:5px;
    text-align:center;
    -moz-appearance: textfield;
}

#furnconfig_id{
    font-size: calc(.65vw + .65vh + .25vmin);
    height: 27px;
    width: 397px;
    text-align: center;
}

.label_furnconfig2{
    width: 100px;
}

.label_furnconfig2{
    width: 100px;
    font-size: calc(.65vw + .65vh + .25vmin);
}



input#vendor1rebate_id, input#vendor2rebate_id, input#totalrebate_id{
    width: 143px;
    margin-right:2%;
    margin-top:0px;
    font-size: calc(.65vw + .65vh + .25vmin);
    padding-left:5px;
    text-align:center;
    -moz-appearance: textfield;
}


.form-rowcom{
    display:flex;
    padding-top:1.5vh;
    margin-bottom: 2px;
}

.form-row{
    display:flex;
    padding-top:0.5vh;
    margin-bottom: 2px;
}

.row2{
    display: flex;
    margin-top: 21px;
}

.row2col1{

}

.form-rowjoblocation, .form-rowfurntype, .form-rowcondtype{
    display: flex;
}



.form-rowtotaldim{
    margin-left: 160px;

}

#furncoilheight_id{
    width: 4.5vw;
    margin-left:63px;
    margin-right:63px;
    margin-top:0px;
    font-size: calc(.65vw + .65vh + .25vmin);
    padding-left:5px;
    text-align:center;
    -moz-appearance: textfield;


}

.row2col2{
    display: flex;
}


#id_joblocation, #id_furntype, #id_outsideunittype{
    width: 250px;
    font-size: calc(.65vw + .65vh + .25vmin);
    margin-bottom: 12px;
}

.label_joblocation, .label_furntype, .label_condtype{
    width: 200px;
    display: block;
    text-align: right;
    padding-right: 5px;
}

label{
    width: 200px;
    display: block;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: right;
    padding-right: 2px;
}

.label_condcol2, .label_furnheight, .label_furnwidth{
    width: 167px;
    display: block;
    text-align: right;
    padding-right: 5px;
}

.form-condcol2{
    display: flex;
}


.label_furnwidth2, .label_furndepth2{
    width: 75px;

}

.label_condcol, .label_coilheight, .label_coilwidth{
    width: 163px;
    display: block;
    text-align: right;
    padding-right: 5px;
}

.label_thermostat{
    width: 287px;
    display: block;
    text-align: right;
    padding-right: 5px;
    margin-left: 40px;
}



.label_condcol1{
    width: 78px;
    display: block;
    text-align: right;
    padding-right: 5px;
}


.label_option{
    width: 163px;
    display: block;
    text-align: right;
    padding-right: 5px;
}

.row3{
    display: flex;
    margin-top: 25px;
}

#ahheader, #thermheader, #rebateamount{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}
.condheader{
    font-size: calc(.65vw + .65vh + .25vmin);
    text-decoration: underline;
    margin-left: 211px;
    margin-bottom: 10px;
    width: 100%;
}

.condheader2{
    font-size: calc(.65vw + .65vh + .25vmin);
    text-decoration: underline;
    margin-left: 187px;
    margin-bottom: 10px;
    width: 100%;
}

#coilheader{
    text-decoration: underline;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 43px;
}

#thermostat{
    text-decoration: underline;
    margin-bottom: 10px;
    padding-right: 43px;
    margin-left: 169px;
}

.form-condcol{
    display: flex;
    margin-bottom: 7px;
}


.form-thermostat{
    display: flex;
    margin-bottom: 28px;
}


.form-thermostat2{
    display: flex;
    margin-bottom: 7px;
}

.form-condcolwidth{
    display: flex;
    margin-bottom: 7px;
}

.form-condcoldepth{
    display: flex;
    margin-bottom: 25px;
}


#id_condeff, #id_condbtu, #id_conddescript, #id_furneff, #id_furnbtu, #id_furndescript,
#id_coilbtu, #id_coilconfig, #id_coilmodnum, #id_thermostat, #id_thermostatmodnum, #id_coiltype{
    width: 209px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;
}


#condmodnum_id, #coilmodnum_id{
    width: 202px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;
}


#id_existfurnconfig{
    width: 366px;
    font-size: calc(.65vw + .65vh + .25vmin);
    text-align: center;
}



#furnconfig{

}

.row3col4{
    margin-right: 49px;

}

.row3col4row2{
    margin-right: 49px;
    margin-top: 50px;

}

button.btn.btn2{
    border: 2px solid black;
    border-radius: 2px;
    background: #FF7074;
    width: 240px;
    font-size: calc( .75vw + 0.75vh + .25vmin);
    color: black;
    cursor: pointer;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;

}

button.btn.btn3{
    border: 2px solid black;
    border-radius: 2px;
    background: #FF7074;
    width: 240px;
    font-size: calc( .75vw + 0.75vh + .25vmin);
    color: black;
    cursor: pointer;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;

}

button.btn.btn4{
    border: 2px solid black;
    border-radius: 2px;
    background: #C0C0C0;
    width: 206px;
    height: 58px;
    font-size: calc( .75vw + 0.75vh + .25vmin);
    color: black;
    cursor: pointer;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;

}

button.btn.btn1:hover, button.btn.btn2:hover, button.btn.btn3:hover, button.btn.btn4:hover{
    color: white;
    background: #1e90ff;
}

a{
    display: flex;
    text-decoration-line: none;
}