body{
    font: 22px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
}

img.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 50px;
}

div.container{
    width:100%;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
}


.form2{
    width: 80%;
    margin-top: 35px;
    margin-left:auto;
    margin-right:auto;
    background:#4682B4;
    position: relative;
    border: 2px solid #C0C0C0;
    border-color: black;
}

div.container1{
    flex: 1;
}

div.container2{
    flex: 2;
}

div.container3{
    flex: 1;
}


.form-rowcom{
    display:flex;
    padding-top:1.5vh;
    margin-bottom: 5px;
}

.form-rowcon{
    display:flex;
    padding-top:0.5vh;
    margin-bottom: 0px;
}

.form-row{
    display:flex;
    padding-top:0.5vh;
    margin-bottom: 25px;
}

.form-rowbottom{
    display:flex;
    padding-top:0.5vh;
    margin-bottom: 50px;
}

.form-rowcancel{
    display:flex;
    padding-top:0.5vh;
    margin-bottom: 50px;
    justify-content: right;
    margin-right: 7%;

}


label{
    width:75%;
    padding-right:0.25%;
    color:black;
    font-weight: bold;
    text-align:right;
    font-size: calc(1vw + .65vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
}

.form-rowbutton{
    width: 244px;
}


button.btn.btn1{
    border: 2px solid black;
    border-radius: 2px;
    background: #C0C0C0;
    font-size: calc(1vw + .5vh + .25vmin);
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight:bold;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
}

button.btn.btn1:hover{
    color: white;
    background: #5e90ff;
}

button.btn.btn2{
    border: 2px solid black;
    border-radius: 2px;
    background: #C0C0C0;
    font-size: calc(1vw + .5vh + .25vmin);
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight:bold;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;

}

button.btn.btn2:hover{
    color: white;
    background: #5e90ff;
}


a.btn.btn1{
    border: 2px solid black;
    border-radius: 2px;
    background: #C0C0C0;
    font-size: calc(1vw + .5vh + .25vmin);
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight:bold;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    padding: 5px;
    text-decoration-line: none;
}

a.btn.btn1:hover{
    color: white;
    background: #5e90ff;
}



input#id_custid, input#id_conid{
    width: 4.5vw;
    margin-right:6%;
    margin-top:0px;
    font-size: calc(.65vw + .65vh + .25vmin);
    font-family: "Times New Roman";
    padding-left:5px;
    text-align:center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    color: #4682b4;
    background: #4682b4;
    border: none;
}

.closeadd-btn{
    color: #dddddd;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: red; /* Make it red */
    padding: 2px 5px; /* Adjust padding as needed */
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: black 2px solid;
    border-left: black 2px solid;

}

.closeadd-btn:hover{
    color: grey; /* Optional: Change color on hover */
}


.optionrow{
    justify-content: right;
    display: flex;

}

a#option{
    margin-right: 60px;
    margin-bottom: 35px;
    background-color: #c0c0c0;
    width: 154px;
    text-align: center;
    border: black 2px solid;
}

