<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../../../img/img.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/login/customer.css">
    <title>Maertin Heating & Cooling Bidding Program</title>
</head>
<body style="background: #4682b4;
             background-image: url('../../../../img/people.jpg');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: 75%;
             background-position: center;" >
<div class="img"><img class="img" src='../../img/img.png'></div>
<div class="container">
  <div class="container1">
  </div>
  <div class="container2">
    <div class="container2A">
      <a href="/mhadatabase/newcon">
        <button type="button" class="btn btn3">Add New Customer</button>
      </a>
      <a href="/mhadatabase/con_info_existing">
        <button type="button" class="btn btn2">Search Existing Customers</button>
      </a>
        <a href="/mhadatabase/cust_info_existing">
        <button type="button" class="btn btn2">Search Job Information</button>
      </a>
      <a href="/mhadatabase/main">
        <button type="button" class="btn btn1">Back</button>
      </a>
    </div>
  </div>
  <div class="container3">


  </div>
</div>
</body>
</html>