<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../../../img/img.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../static/login/newcust.css">
    <title>Maertin Heating & Cooling Bidding Program</title>
</head>
<body style="background-image: url('../../../../img/A.jpg');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;" >
<div class="img"><img class="img" src='../../../../img/img.png'></div>
<div class="container">
  <div class="container1">
  </div>
  <div class="container2">
    <section id="section2">
      <h1 id="formh2">This Customer is already in the system.</h1>
      <h1 id="formh3">Would you like to go to their Information Page?</h1>
    </section>
    <div id="button1">
      <a class="btn btn9" href="">Yes</a>
      <a class="btn btn9" href="../newcust">No</a>
    </div>
  </div>
  <div class="container3">
  </div>
</div>
</body>
</html>