<div class="input">
<label class="label1">Depth :</label><input id="depth_id" type="text" value="{{ depth.depth }}" onfocusout="myFunctionDepth()">
</div>
<!--<div class="button">
<button type="button" class="btn btnmodify">Modify Model #</button>
</div>-->
<script>


function myFunctionDepth() {
var userInput = document.getElementById("depth_id").value;
                    console.log(userInput);
                    var url = $(".form2").attr("depth-url");
                     $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            depth_id: $("#depth_id").val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
}

</script>