{{ form.descript14 }}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function() {

    if ($('#id_descript14').val() === 'Select Material') {
       $("#id_descript14").css('background-color', '#2e8b57')
       $("#id_descript14").attr("disabled", true)
       $("#id_quanity14").attr("disabled", true)
       $(".delete14").attr("disabled", true)
    } else {
        $("#id_descript14").css('background-color', 'gold')
        $(".delete14").attr("disabled", false)
   }

});
$(function(){
   $('#id_descript14').change(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('id_descript14');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("descript14-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_descript14: $('#id_descript14').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});

$(function(){
    $('#id_descript14').change(function(){
        setTimeout(function(){
            var urlC = $(".form2").attr("descript14load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#descript14_id").html(data);
                     }
                });
        },400);
    });
});

$(function(){
    $('#id_descript14').change(function(){
        setTimeout(function(){
            var urlC = $(".form2").attr("quanity14load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#quanity14_id").html(data);
                     }
                });
        },600);
    });
});
</script>
