{{ form.descript7 }}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function() {

    if ($('#id_descript7').val() === '') {
       $("#id_descript7").css('background-color', '#2e8b57')
       $(".form2 #id_quanity7").attr("disabled", true)
    } else {
        $("#id_descript7").css('background-color', 'gold')
        $(".form2 #id_quanity7").attr("disabled", false)

    }

    if ($('.form2 #id_jobtype7').val() === 'Select Equip. Type') {
        $("#id_descript7").attr("disabled", true)
    } else {
        $("#id_descript7").attr("disabled", false)
    }

});

$(function(){
   $('#id_descript7').change(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('id_descript7');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("descript7-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_descript7: $('#id_descript7').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});

$(function(){
    $('#id_descript7').change(function(){
        setTimeout(function(){
            var urlC = $(".form2").attr("descript7load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#descript7_id").html(data);
                     }
                });
        },400);
    });
});

$(function(){
    $('#id_descript7').change(function(){
        setTimeout(function(){
               $("#id_quanity7").attr("disabled", true)
            var urlC = $(".form2").attr("quanity7load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#quanity7_id").html(data);
                     }
                });
        },600);
    });
});
</script>