<div class="input">
{{ form.descript45 }}
</div>

<div class="input">
    <input id="descript45b_id" type="text" value="{{ descript45b }}">
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

$(document).ready(function() {

//$("#id_descript45").attr("disabled", true)

    if ($('#descript45b_id').val()) {
        // The field has a value
    $("#id_descript45").hide()
    } else {
    $("#id_descript45").show()
     $('#descript45b_id').hide()
        // The field is empty or its value is considered falsy (e.g., 0, "", null, undefined)
    }
    });

$(function(){
   $('#id_descript45').change(function(){
       if ($('#id_descript45').val() ==1) $(".mfg-modal").show()
        setTimeout(function(){
                var selectBox =document.getElementById('id_descript45');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("descrip45-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_descript45: $('#id_descript45').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});

$(function(){
    $('#id_descript45').change(function(){
        $("#id_descript45b").show()
        $("#id_descript45").hide()
        setTimeout(function(){
            var urlC = $(".form2").attr("descript45bload-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#id_descript45b").html(data);
                     }
                });
        },500);
    });
});





</script>