    {{ form.descript21 }}
<div id="id_descript21b">
    <input id="descript21b_id" value="{{ descript21b.descript21b }}">
</div>
<div id="quanity21_id" >
    {{ form.quanity21 }}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function() {
  if ($('#id_descript21').val() === 'Select Material' || $('#id_descript21').val() === '' &&  $('#descript21b_id').val() == 1 ){
       $("#id_descript21").css('background-color', '#1E5938')
        $("#id_descript21").attr("disabled", true)
     } else if  ($('#id_descript21').val() === 'Select Material' || $('#id_descript21').val() === '' &&  $('#descript21b_id').val() > 1 ){
        $("#id_descript21").attr("disabled", false)
        $("#id_descript21").css('background-color', '#90B5A1')
     } else   {
        $("#id_descript21").css('background-color', 'gold')
     }
});



$(function(){
   $('#id_descript21').change(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('id_descript21');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("descript21-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_descript21: $('#id_descript21').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});

$(function(){
    $('#id_descript21').change(function(){
        setTimeout(function(){
            var urlC = $(".form2").attr("descript21load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#descript21_id").html(data);
                     }
                });
        },400);
    });
});

$(function(){
    $('#id_descript21').change(function(){
        setTimeout(function(){
               $("#id_quanity21").attr("disabled", true)
            var urlC = $(".form2").attr("quanity21load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#quanity21_id").html(data);
                     }
                });
        },600);
    });
});


    $(function(){
   $('#id_quanity21').change(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('id_quanity21');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("quant21-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_quanity21: $('#id_quanity21').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});


</script>
