{{ form.descript11 }}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function() {

    if ($('#id_descript11').val() === 'Select Material') {
       $("#id_descript11").css('background-color', '#2e8b57')
       $("#id_descript11").attr("disabled", true)
       $("#id_quanity11").attr("disabled", true)
       $(".delete11").attr("disabled", true)
    } else {
        $("#id_descript11").css('background-color', 'gold')
        $(".delete11").attr("disabled", false)
   }

});

$(function(){
   $('#id_descript11').change(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('id_descript11');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("descript11-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_descript11: $('#id_descript11').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});

$(function(){
    $('#id_descript11').change(function(){
        setTimeout(function(){
            var urlC = $(".form2").attr("descript11load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#descript11_id").html(data);
                     }
                });
        },400);
    });
});

$(function(){
    $('#id_descript11').change(function(){
        setTimeout(function(){
            var urlC = $(".form2").attr("quanity11load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#quanity11_id").html(data);
                     }
                });
        },600);
    });
});
</script>
