<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../../../img/img.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/editequip.css">
    <title>Maertin Heating & Cooling Bidding Program</title>
</head>
<body style="background: #6aadad;
             background-image: url('../../../../img/B.png');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: 70%;
             background-position: center;">
<div class="img"><img class="img" src='../../../img/img.png'></div>
<div class="container">
  <div class="container1">
  </div>
  <div class="container2">
      <div class="container2A">
      <form class="form2" method="post"
            modelload2-url="{% url 'mhadatabase:load_2model' instance.modelnum %}"
            configload2-url="{% url 'mhadatabase:load_2config' instance.modelnum %}"

            costedit-url="{% url 'mhadatabase:costedit' instance.id %}"
            costload-url="{% url 'mhadatabase:load_costedit' instance.id %}"
            heightedit-url="{% url 'mhadatabase:heightedit' instance.id %}"
            widthedit-url="{% url 'mhadatabase:widthedit' instance.id %}"
            depthedit-url="{% url 'mhadatabase:depthedit' instance.id %}"
            coilheighteditload-url="{% url 'mhadatabase:load_coilheightedit' instance.id %}"
            coilwidtheditload-url="{% url 'mhadatabase:load_coilwidthedit' instance.id %}"
            coildeptheditload-url="{% url 'mhadatabase:load_coildepthedit' instance.id %}"
            smart-url="{% url 'mhadatabase:smarttherm' instance.id %}"



      >
          {% csrf_token %}
          {{ form.name_of_field }}
          <div class="form-row1">
               {{ form.modelnum.errors }}
              <label class="label">Model # :</label>
              {{ form.modelnum }}
          </div>
          <div class="form-row">
              {{ form.mfg.errors }}
              <label class="label">Mfg :</label>
              {{ form.mfg }}
          </div>
          <div class="form-row">
              {{ form.type.errors }}
              <label class="label">Type # :</label>
              {{ form.type }}
          </div>
          <div class="form-row">
              {{ form.config.errors }}
              <label class="label">Config :</label>
              {{ form.config }}
          </div>
          <div class="form-row">
              {{ form.eff.errors }}
              <label class="label">Efficiency :</label>
              {{ form.eff }}
          </div>
          <div class="form-row">
              {{ form.mfgmodeldescrip.errors }}
              <label class="label">Mfg. Descrip. :</label>
              {{ form.mfgmodeldescrip }}
          </div>
          <div class="form-row">
              {{ form.gasviv.errors }}
              <label class="label">Gas VIv :</label>
              {{ form.gasviv }}
          </div>
          <div class="form-row">
              {{ form.motortype.errors }}
              <label class="label">Motor Type :</label>
              {{ form.motortype }}
          </div>
          <div class="form-row">
              {{ form.description.errors }}
              <label class="label">Description :</label>
              {{ form.description }}
          </div>
            <div class="buttonrow">
                <a id="back"  href="/mhadatabase/updateequip">Save and Exit</a>
                <a id="delete">Delete</a>
               </div>
      </form>
      </div>
      <div class="container2B">
           <form class="form2" method="post">
          {% csrf_token %}
          {{ form.name_of_field }}
          <div class="form-row">
              {{ form.refrig.errors }}
              <label class="label">Refrig :</label>
              {{ form.refrig }}
          </div>
          <div class="form-row">
              {{ form.btu.errors }}
              <label class="label">BTUs :</label>
              {{ form.btu }}
          </div>
          <div class="form-row">
              {{ form.outputstg1.errors }}
              <label class="label">Output Stage 1 :</label>
              {{ form.outputstg1 }}
          </div>
          <div class="form-row">
              {{ form.outputstg2.errors }}
              <label class="label">Output Stage 2 :</label>
              {{ form.outputstg2 }}
          </div>
          <div class="form-row">
              {{ form.outputstg3.errors }}
              <label class="label">Output Stage 3 :</label>
              {{ form.outputstg3 }}
          </div>
          <div class="form-row">
              <div id="cost">
                  <div id="id_cost"></div>
                </div>
          </div>
          <div class="form-row">
              {{ form.warr.errors }}
              <label class="label">Warranty :</label>
              {{ form.warr }}
          </div>
          <div class="form-row">
              <div id="height">
                  <div id="id_height"></div>
                </div>
          </div>
          <div class="form-row">
             <div id="width">
                  <div id="id_width"></div>
                </div>
          </div>
          <div class="form-row">
              <div id="depth">
                  <div id="id_depth"></div>
              </div>
          </div>
               <div class="form-rowsmart" style="display:none">
                   {{ form.smart.errors }}
                   <label class="label">Smart Therm. :</label>
                   {{ form.smart }}
               </div>
           </form>
      </div>
  </div>
    <div class="container3">

    </div>

</div>
<div class="mfg-modal" style="display:none">
        <div class="modal-content">
            <h3 class="modaltitle">Do you wish to delete {{ form.modelnum }} from the master list?</h3>
            <div class="butrow">
                <a class="button1" href="../deleteediteequip">yes</a>
                <button type="button" class="button2">No</button>
            </div>
        </div>
    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

$(document).ready(function() {

$("#id_mfg").attr("disabled", true)
$("#id_type").attr("disabled", true)
$("#id_config").attr("disabled", true)
$("#id_eff").attr("disabled", true)
$("#id_mfgmodeldescrip").attr("disabled", true)
$("#id_gasviv").attr("disabled", true)
$("#id_motortype").attr("disabled", true)
$("#id_description").attr("disabled", true)
$("#id_refrig").attr("disabled", true)
$("#id_btu").attr("disabled", true)
$("#id_outputstg1").attr("disabled", true)
$("#id_outputstg2").attr("disabled", true)
$("#id_outputstg3").attr("disabled", true)
$("#id_warr").attr("disabled", true)
$("#id_modelnum ").attr("disabled", true)


if ($('#id_type').val() === 'Thermostat') $(".form-rowsmart").show()



setTimeout(function(){
            var urlC = $(".form2").attr("costload-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#id_cost").html(data);
                     }
                });
        }, 0);

 setTimeout(function(){
            var urlC = $(".form2").attr("coilheighteditload-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#id_height").html(data);
                     }
                });
        }, 0);

 setTimeout(function(){
            var urlC = $(".form2").attr("coilwidtheditload-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#id_width").html(data);
                     }
                });
        }, 0);

 setTimeout(function(){
            var urlC = $(".form2").attr("coildeptheditload-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#id_depth").html(data);
                     }
                });
        }, 0);



});

$(function(){
    $('#delete').click(function(){
        $(".mfg-modal").show()
    });
});

$(function(){
    $('.button2').click(function(){
        $(".mfg-modal").hide()
    });
});



$(function(){
   $('#id_smart').change(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('id_smart');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("smart-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_smart: $('#id_smart').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});




</script>