
<div class="input">
<label class="label_existfurndepth">Depth :</label>
    <input id="existfurndepth_id" type="text" value="{{ existfurndepth }}" onfocusout="myFunctionExistFurnDepth()">

</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
 $(document).ready(function() {
    $("#existfurndepth_id").attr("disabled", true)
   const inputFields = document.querySelectorAll('input[type="text"], input[type="email"], input[type="number"]');

   inputFields.forEach(input => {
     const defaultValue = input.value;
     input.addEventListener('focus', function() {
       if (this.value === defaultValue) {
         this.value = '';
       }
     });
     input.addEventListener('blur', function() {
        if (this.value === '') {
         this.value = defaultValue;
        }
     });
   });
});


function myFunctionExistFurnDepth() {
//if ($('#existfurndepth_id').val() >1) $("#id_existfurndepth").attr("disabled", false)
$("#existfurndepth_id").css('background-color', '#ffd700')
$("#id_condeff").attr("disabled", false).css('background-color', '#66d09a')
$('#id_condeff').focus();

var userInput = document.getElementById("existfurndepth_id").value;
                    console.log(userInput);
                    var url = $(".form2").attr("existfurndepth-url");
                     $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            existfurndepth_id: $("#existfurndepth_id").val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
}


</script>