{{ form.jobtype2 }}

<div id="id_descript2b">
<input id="descript2b_id" value="{{ descript2b.descript2b }}">
</div>
<div id="descript2">
{{ form.descript2 }}
</div>
<div id="quanity2_id" >
{{ form.quanity2 }}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function() {

   if ($('#descript2b_id').val() == 1  && $('#id_descript2').val() === '' ){
    $("#id_jobtype2").attr("disabled", false).css('background-color', '#90B5A1')
    $("#id_descript2").attr("disabled", true).css('background-color', '#1E5938')
    }

   if ($('#descript2b_id').val() > 1  && $('#id_descript2').val() === '' ){
    $("#id_jobtype2").attr("disabled", false).css('background-color', 'gold')
    $("#id_descript2").attr("disabled", true).css('background-color', '#1E5938')
    }

    if ($('#descript2b_id').val() > 1  && $('#id_descript2').val() === '' ){
    $("#id_jobtype2").attr("disabled", false).css('background-color', 'gold')
    $("#id_descript2").attr("disabled", false).css('background-color', '#90B5A1')
    }

    if ($('#descript2b_id').val() > 1  && $('#id_descript2').val()){
    $("#id_jobtype2").attr("disabled", true).css('background-color', 'gold')
    $("#id_descript2").attr("disabled", true).css('background-color', 'gold')
    }
});

$(function(){
   $('#id_jobtype2').change(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('id_jobtype2');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("jobtype2-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_jobtype2: $('#id_jobtype2').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});



$(function(){
    $('#id_jobtype2').change(function(){
        setTimeout(function(){
            var urlC = $(".form2").attr("jobtype2load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#jobtype2_id").html(data);
                     }
                });
        },400);
    });
});

$(function(){
    $('#id_jobtype2').change(function(){
        setTimeout(function(){
 //              $("#id_jobtype2").attr("disabled", true)
            var urlC = $(".form2").attr("descript2bload-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#descript2b_id").html(data);
                     }
                });
        },600);
    });
});

    $(function(){
    $('#id_jobtype2').change(function(){
        setTimeout(function(){
 //              $("#id_jobtype2").attr("disabled", true)
            var urlC = $(".form2").attr("descript2load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#descript2_id").html(data);
                     }
                });
        },800);
    });
});

    $(function(){
   $('#id_descript2').change(function(){
        setTimeout(function(){
            $("#id_jobtype2").attr("disabled", true).css('background-color', 'gold')
            $("#id_descript2").attr("disabled", true).css('background-color', 'gold')
                var selectBox =document.getElementById('id_descript2');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("descript2-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_descript2: $('#id_descript2').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});

$(function(){
    $('#id_descript2').change(function(){
        setTimeout(function(){
            var urlC = $(".form2").attr("descript2load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#descript2_id").html(data);
                     }
                });
        },400);
    });
});

$(function(){
    $('#id_descript2').change(function(){
        setTimeout(function(){
               $("#id_quanity2").attr("disabled", true)
            var urlC = $(".form2").attr("quanity2load-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#quanity2_id").html(data);
                     }
                });
        },700);
    });
});
</script>

