<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../../../img/img.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/login/main.css">
    <title>Maertin Heating & Cooling Bidding Program</title>
</head>
<body style="background-image: url('../../../../img/A.jpg');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;" >
<div class="img"><img class="img" src='../../img/img.png'></div>
<div class="container">
  <div class="container1">
  </div>
  <div class="container2">
    <div class="container2A">
      <a href="/mhadatabase/equipmat">
        <button type="button" class="btn btn3">Equipment & Material</button>
      </a>
      <a href="/mhadatabase/customer">
        <button type="button" class="btn btn2">Bidding Page</button>
      </a>
       <a href="/mhadatabase/mainsettingpage">
        <button type="button" class="btn btn2">Setting</button>
      </a>
        <a href="/mhadatabase/mha">
      <button type="button" class="btn btn1">Log Out</button>
    </a>
    </div>
  </div>
  <div class="container3">


  </div>
</div>
</body>
</html>