<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../../../img/img.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/login/main.css">
    <title>Maertin Heating & Cooling Bidding Program</title>
</head>
<body style="background: #008B8B;
             background-image: url('../../../../img/B.png');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: 70%;
             background-position: center;" >
<div class="img"><img class="img" src='../../img/img.png'></div>
<div class="container">
  <div class="container1">
  </div>
  <div class="container2">
    <div class="container2B">
      <a href="/mhadatabase/addnewequip2">
        <button type="button" class="btn btn3">Add New Equipment</button>
      </a>
      <a href="/mhadatabase/updateequip">
        <button type="button" class="btn btn2">Update Equipment Details</button>
      </a>
      <a href="/mhadatabase/equipmat">
      <button type="button" class="btn btn1">Back</button>
    </a>
    </div>
  </div>
  <div class="container3">


  </div>
</div>
</body>
</html>