{{ form.quanity11 }}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

$(document).ready(function() {

    if ($('#id_descript11').val() === 'Select Material') {
       $("#id_descript11").css('background-color', '#2e8b57')
       $("#id_quanity11").attr("disabled", true)
    } else {
        $("#id_descript11").css('background-color', 'gold')
     //   $("#id_descript11").attr("disabled", true)
   }

});

    $(function(){
   $('#id_quanity11').change(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('id_quanity11');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("quant11-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_quanity11: $('#id_quanity11').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});
</script>

