{{ form.techhrs }}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function() {


  if ($('#id_techhrs').val() > 1) {
    $("#id_techhrs").css('background-color', 'gold')

    setTimeout(function(){
        var urlC = $(".form2").attr("load_tech2-url");
        req = $.ajax({
               url: urlC,
               data:{
                 },
                 success: function (data) {
                   $("#techlevel2_id").html(data);
                 }
            });
    }, 100);

 } else {
        $("#id_techhrs").css('background-color', '#2e8b57')
 }


});


$(function(){
   $('#id_techhrs').change(function(){
        setTimeout(function(){
        $("#id_techhrs").css('background-color', 'gold')
            if ($('#id_count').val() == 1){
               $("#bidcal").show();
               $("#bidcal2").hide();
               $("#bidcal3").hide(); 
               $("#bidcal4").hide();
               $("#bidcal5").hide();
            } else if ($('#id_count').val() == 2){
               $("#bidcal").hide();
               $("#bidcal2").show();
               $("#bidcal3").hide();
               $("#bidcal4").hide();
               $("#bidcal5").hide();
            } else if ($('#id_count').val() == 3){
               $("#bidcal").hide();
               $("#bidcal2").hide();
               $("#bidcal3").show();
               $("#bidcal4").hide();
               $("#bidcal5").hide();
            } else if ($('#id_count').val() == 4){
               $("#bidcal").hide();
               $("#bidcal2").hide();
               $("#bidcal3").hide();
               $("#bidcal4").show();
               $("#bidcal5").hide();
            } else if ($('#id_count').val() == 5){
               $("#bidcal").hide();
               $("#bidcal2").hide();
               $("#bidcal3").hide();
               $("#bidcal4").hide();
               $("#bidcal5").show();
            }
                var selectBox =document.getElementById('id_techhrs');
                var userInput =selectBox.options[selectBox.selectedIndex].value;
                console.log(userInput);
                var url = $(".form2").attr("techlevelhrs-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_techhrs: $('#id_techhrs').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 100);
    });
});

$(function(){
   $('#id_techhrs').change(function()
   {setTimeout(function(){
        var urlC = $(".form2").attr("load_tech2-url");
        req = $.ajax({
               url: urlC,
               data:{
                 },
                 success: function (data) {
                   $("#techlevel2_id").html(data);
                 }
            });
    }, 100);

    });
});

</script>


